@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Teko:wght@300;400;500;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Teko:wght@300;400;500;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Teko:wght@300;400;500;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Teko:wght@300;400;500;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200;300;400;500;600;700;800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Teko:wght@300;400;500;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200;300;400;500;600;700;800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Teko:wght@300;400;500;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque&family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200;300;400;500;600;700;800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Teko:wght@300;400;500;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bricolage+Grotesque&family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gabarito:wght@400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Bebas+Neue&family=Bricolage+Grotesque&family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gabarito:wght@400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;1,500;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




nav{
 
 background-color: transparent;
  width: 100%;
position: relative;
 
}
.logo img{
  height: 100px;
}
nav ul{
  float: right;
  margin-top: 10px;
}
nav ul li{
display: inline-block;

margin: 0 5px;
}
#signin{
  color: black;
  background-color: white;
  font-family: 'Ubuntu';
  padding: 3px 10px;

  font-weight: 700;
 
  font-size: 20px;
  border-radius: 15px;
  border: 0;
  text-decoration: none;
}
#logotxt{
  font-family: 'Abel';
  color: white;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 15px;
  font-size: 4em;
}
#logotxt span{
  font-family: 'Bebas Neue';
  color: #f04e36;
}
#signin:hover{
  color: white;
  background-color: #f04e36;
}
nav ul li a{
  color:white;
  font-family: 'Ubuntu';
  font-size: 20px;
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}
a.active, a:hover{
  transition: .5s;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  color: #f04e36;
}
.checkbtn{
  float: right;
cursor: pointer;
margin-top: 20px;
  margin-right: 50px;
  display: none;
}
#check{
  display: none;
}
@media (max-width:1200px){
nav ul li a{
  font-size: 20px;
  margin: 0 15px;
}
nav ul{
  float: right;
  margin-top: 15px;
}
#signin{
  font-size: 20px;
}
 
}
.logo img{
  height: 80px;
 }


@media (max-width:858px){
 .checkbtn{
  display: block;
 }
 .logo img{
  height: 90px;
 }
 a.active, .not_active:hover{
  color: white;
 }
 ul{
 position: absolute;
  width: 100%;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 2;
  background: #f04e36;
  top: 50px;
  left: -130%;
  transition: all .5s;
  text-align: left;
 }
 #signin{
  color: black;
  background-color: transparent;
  font-family: 'Ubuntu';
  padding: 5px 15px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 15px;
  border: 3px solid black;
  text-decoration: none;
 }
 #signin:hover{
  color: #f04e36;
  background-color: white;
  font-family: 'Ubuntu';
  padding: 5px 15px;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
  border-radius: 15px;
  border: 3px solid white;
  text-decoration: none;
 }
.active{
  color: white;
}
 nav ul li a{
  font-size: 20px;
margin: 3px;
color: black;
 }
 #check:checked ~ ul{
  left: 0;
 }
  }

body{
    padding: 0;
    margin: 0;
    background-color: black;
}
*{
    padding: 0;
    margin: 0;
}
#active{
 
  color: #f04e36;
  font-size: 25px;
  margin-left: 20px;

  font-family: 'Ubuntu';
  font-size: 20px;
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}
#not_active{
  color:white;
  font-family: 'Ubuntu';
  font-size: 20px;
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;

  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px;
}
#not_active:hover{
  color: #f04e36;
}
.row {
    padding: 0;
    margin: 0;
}
.slideshow-container {
    
    position: relative;
   border-radius: 20px;
   overflow: hidden;
   width: 1350px;
  }

  /* Style for slideshow images */
  .mySlides {
    display: none;
    width: 100%;
  }
.mySlides img{
    width: 100%;
}
  /* Style for text in slides */
  .text {
    color: white;
    background-color: #f04e36;
    padding: 10px;
    position: absolute;
    cursor: pointer;
    font-size: 15px;
    font-family: 'poppins';
    bottom: 0;
   
    font-weight: 600;
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
  }
  .text:hover {
    color: #f04e36;
    background-color: white;
    box-shadow: 0px 0px 10px black;

  }

  /* Style for slideshow navigation dots */
  .dot {
    height: 0px;
    width: 0px;
    margin: 0 2px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color: #717171;
  }
  ::placeholder{
    font-family: 'poppins';
   
  }
  #cat-home{
    font-family: 'poppins';
    margin: 15px;
    color: white;
    font-size: 1.7em;
    padding: 2px 10px;

  }
  #cat-home:hover{
    background-color: #f04e36;
    border-radius: 20px;
  }

/******************************************************************************************************************************************
********************************************************************************************************************************************
**********************************************************************************************************************************************
**********************************************************************************************************************************************
********************************************************************************************************************************************/
  #back_btn{
    color: #f04e36;
    display: block;
    width: 150px;
    text-align: center;
    background-color: white;
    font-size: 3em;
    margin-left: 20px;
    font-family: 'poppins';
    font-weight: 500;
    padding: 0px 15px;
    margin-top: 50px;
    border-radius: 30px;
  }
  #back_btn:hover{
    color: white;
    background-color: #f04e36;
  }
  #logintext{
    font-family: 'Abel';
    color: white;
    text-transform: uppercase;
    font-weight: 400;
   text-align: center;
    font-size: 5em;
  }
  #logintext span{
    font-family: 'Bebas Neue';
    color: #f04e36;
  }
  #taketosignup
  {
    font-family: 'ubuntu';
    color: white;
    text-transform: uppercase;
    font-weight: 400;

   text-align: center;
    font-size: 1em;
  }
  #taketosignup a{
    font-family: 'Bebas Neue';
    color: #f04e36;
    font-size: 1.2em;
   
  }
  #sub_btn{
    background-color: black;
    color: white;
    font-family: 'poppins';
    font-size: 20px;
    padding: 2px 15px;
    border: 0;
    border-radius: 20px;
    margin: 30px 0;
    transition: 1s;
  }
   #sub_btn:hover{
    background-color: white;
    color: #f04e36;
   }

   .glass2{
    display: flex;
    align-items: center;
    height: 500px;
    border: 1px solid #f04e36;
    justify-content: center;
   }
   
   ::placeholder{
    color: white;
   }
 
   #signup-sub{
    background-color: #f04e36;
    font-family: 'poppins';
    font-size: 20px;
    padding: 3px 15px;
    border-radius: 20px;
    color: white;
    border: 0;
    margin-bottom: 20px;
    transition: 1s;

   }
   #signup-sub:hover{
    color: #f04e36;
    background-color: white;
   }
   ::placeholder{
    color: white;
   }
   #search-bar{
    margin: 0;
    background-color: transparent;
  width: 270px;
    color: white;
 
    outline: 0;
    text-align: left;

    display: block;
   }
   /**************************************************************************************************************************************/
   /**************************************************************************************************************************************/
   /****************************************************        BLOG      ****************************************************************/
   /**************************************************************************************************************************************/
   /**************************************************************************************************************************************/
.bloglabel{
  font-family: 'poppins';
  color: white;
  
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
}
.publish{
  font-family: 'poppins';
  background-color: #f04e36;
  color: black;
  font-size: 20px;
  padding: 3px 20px;
  border: 0;
  margin: 40px;
  transition: 1s;
    font-weight: 600;
  border-radius: 10px;
}
.publish:hover{
  background-color: black;
  color: #f04e36;
  border: 2px solid #f04e36;
}

.card-container{
  
  display: flex;
  padding: 60px 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.card{
  position: relative;
  width: 350px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0px 5px rgba(0,0,0,1);
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.card:hover{
  height: 400px;
}
.card .imgBx{
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.card:hover .imgBx{
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.card .imgBx img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.card .content{
  position: absolute;
  top:255px;
  width: 100%;
  padding: 0 30px;
  height: 35px;
 
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}
.card:hover .content{
  top: 130px;
  height: 250px;
}
.card .content h4{
  font-size: 1.5em;
  font-weight: 700;

  font-family: 'poppins';
  color:#f04e36;
}
.card .content .descp{
  color: black;
  font-weight: 600;
  font-size: 1em;
  font-family: 'poppins';
  height: 100px;
  overflow: hidden;
  text-align: center;
}
.card .content .catp{
  color:#717171;
  font-weight: 600;
  font-size: 1.5em;
  font-family: 'poppins';
  text-align: center;
}
.card .content a{
position: relative;

display: inline-block;
padding: 12px 25px;
transition: 1s;
font-weight: 600;
background: #f04e36;text-decoration: none;
font-family: 'poppins';

border-radius: 8px;
color: black;
}
.card .content a:hover{
  color: #f04e36;
  background: black;
}
   /**************************************************************************************************************************************/
   /**************************************************************************************************************************************/
   /****************************************************        SIGNUP      ****************************************************************/
   /**************************************************************************************************************************************/
   /**************************************************************************************************************************************/
th{
  font-family: 'poppins';
  font-size: 20px;
  color: white;
  padding: 30px;
}
.read-title{
  font-family: 'poppins';
  color: #f04e36;
  font-size: 4em;
  font-weight: 600;

}
.read-desc{
  font-family: 'poppins';
  color: white;
  margin-top: 20px;
  font-size: 2em;
  font-weight: 500;
}
.read-cat{
  font-family: 'poppins';
  color: white;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 2em;
  font-weight: 500;
}
.read-user{
  font-family: 'poppins';
  color: #717171;
  font-size: 2.5em;
  margin-left: 10px;
  font-weight: 500;
}
.read-user-p{
  font-family: 'poppins';
  color: white;
  margin-right: 10px;
  font-size: 2em;
 
  font-weight: 500;
}
.read-profile{
background-color: white;
font-family: 'poppins';
font-size: 20px;
color:#f04e36;
border-radius: 20px;
border: 3px solid #f04e36;
padding-right: 5px;
transition: 1s;


}
.read-profile img{
  border: 3px solid #f04e36;
  transition: 1s;
  background-color: white;
}
.read-profile:hover img{
  border: 3px solid white;
}
.read-profile:hover{
  background-color: #f04e36;
  color: white;
  border: 3px solid white;
  
}

.read-article{
  font-family: 'poppins';
  color: white;
}
#back_btn1{
  background-color: #f04e36;
  color: white;
  font-size: 25px;
  border-radius: 20px;
  transition: 1s;
  padding: 5px 15px;
  margin-left: 20px;
}
#back_btn1:hover{
  background-color: white;
  color: #f04e36;
}
  /**************************************************************************************************************************************/
   /**************************************************************************************************************************************/
   /****************************************************        SEARCH      ****************************************************************/
   /**************************************************************************************************************************************/
   /**************************************************************************************************************************************/
#so-heading{
    font-family: 'Abel';
    color: white;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 15px;
    text-align: center;
    font-size: 4em;
  
}
body{
  scroll-behavior: smooth;

}
.searchuser img{
  border-radius: 50%;
  margin-right:10px ;
  
}
.searchuser{
  font-family: 'poppins';
  font-weight: 600;
  background-color: white;
  color: #f04e36;
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 15px;
  border-radius: 15px;
}
#about-intro{
  font-family: 'poppins';
  color: white;
  text-align: center;
  
  margin: 20px 40px;
}
#down-menu{
  margin: 20px;
  border-radius: 10px;
  border: 3px solid #f04e36;
  box-shadow: 0px 0px 7px #f04e36;

  padding:20px 5px;
}
.down-menu-ul{
  list-style: none;

}
.down-menu-ul li a{
  font-size: 25px;
  font-family: 'poppins';
  color: #717171;
  font-weight: 600;
}
.down-menu-ul li .active{
  color: white;
}
.down-menu-ul li a:hover{
  color: white;
}
.down-menu-a img{
  border-radius: 50%;
  margin-right: 10px;
}
.down-menu-a{
  background-color: white;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 10px;
  color: #f04e36;
  font-size: 20px;
  font-family: 'poppins';
}
.down-menu-a:hover{
  background-color: #f04e36;
  color: white;
}
#down-menu-logo{
  list-style: none;
}#down-menu-txt{
  font-family: 'Abel';
  color: white;
  font-weight: 400;
  writing-mode: vertical-rl;
transform: rotate(180deg);
  font-size: 4em;
}
#down-menu-txt span{
  font-family: 'Bebas Neue';
  color: #f04e36;
}
.up-fullname{
  font-family: 'Abel';
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 4em;
}
.up-username{
  font-family: 'Abel';
  color: #333;
  font-weight: 400;
  font-size: 3em;
}
.con-div-facebook{
  color: #039be5;
 
  border-radius: 30px;
padding: 5px 15px;
background-color: white;

font-family: 'poppins';
font-size: 20px;
font-weight: 600;
  box-shadow: 0px 0px 7px #039be5;
  }
  #con-facebook{
    color: #039be5;
 
    border-radius: 30px;
  padding: 5px 15px;
  background-color: white;
  
  font-family: 'poppins';
  font-size: 20px;
  font-weight: 600;
    box-shadow: 0px 0px 7px #039be5;
  }
  #con-facebook:hover{
    background-color: #039be5;
    color: white;
  }
  #con-instagram{
    color: #ee2a7b;
 
    border-radius: 30px;
  padding: 5px 15px;
  background-color: white;
  
  font-family: 'poppins';
  font-size: 20px;
  font-weight: 600;
    box-shadow: 0px 0px 7px #ee2a7b;
  }
  #con-instagram:hover{
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
color: white;}


#con-gmail{
  color: #fbbc05;
 
  border-radius: 30px;
padding: 5px 15px;
background-color: white;

font-family: 'poppins';
font-size: 20px;
font-weight: 600;
  box-shadow: 0px 0px 7px #fbbc05;

}

#con-gmail:hover{
  color: white;
  background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);;
  border: 0;
}
#con-whatsapp{
  color: #05d445;
 
  border-radius: 30px;
padding: 5px 15px;
background-color: white;

font-family: 'poppins';
font-size: 20px;
font-weight: 600;
  box-shadow: 0px 0px 7px #05d445;

}
#con-whatsapp:hover{
  color: white;
  background: #05d445;
  border: 0;
}

#con-twitter{
  color: #307bab;
 
  border-radius: 30px;
padding: 5px 15px;
background-color: white;

font-family: 'poppins';
font-size: 20px;
font-weight: 600;
  box-shadow: 0px 0px 7px #307bab;

}
#con-twitter:hover{
  color: white;
  background: #307bab;
  border: 0;
}


#con-youtube{
  color: red;
 
  border-radius: 30px;
padding: 5px 15px;
background-color: white;

font-family: 'poppins';
font-size: 20px;
font-weight: 600;
  box-shadow: 0px 0px 7px red;

}
#con-youtube:hover{
  color: white;
  background: red;
  border: 0;
}

#con-phone{
  color: #f04e36;
 
  border-radius: 30px;
padding: 5px 15px;
background-color: white;

font-family: 'poppins';
font-size: 20px;
font-weight: 600;
  box-shadow: 0px 0px 7px #f04e36;

}
#con-phone:hover{
  color: white;
  background: #f04e36;
  border: 0;
}
#enquiry{
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-family: 'poppins';
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  outline: 0;
  margin: auto;
  display: block;
  border: 3px solid white;
}
#comment{
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-family: 'poppins';
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  outline: 0;
  margin: auto;
  display: block;
  border: 3px solid white;
}
#enquiry-sub{
  background-color: white;
  color: #f04e36;
  font-size: 20px;
  font-family: 'poppins';
  padding: 5px 15px ;
  border-radius: 10px;
  border: 0;
margin: 5px;
  font-weight: 600;
  transition: 1s;
}
#enquiry-sub:hover{
  background-color: #f04e36;
  color: white;
}