<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/home1.css' %}?v=1" />
  </head>
  <body>
    <div>
      <nav>
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
          <img
            src="{%static 'images/Menu.png'%}"
            width="30px"
            style="filter: invert(100%)"
          />
        </label>
        <label class="logo"
          ><h1 id="logotxt">PLUG<span>POST</span></h1></label
        >
        <ul>
          <li><a href="{% url 'lhome' %}" class="active">Home</a></li>
          <li><a href="{% url 'blog' %}" class="not_active">Blog</a></li>
          <li><a href="{%url 'aboutus' %}" class="not_active">About us</a></li>
          <li><a href="{%url 'login' %}" class="not_active">Logout</a></li>
          <li>
            <a id="signin" href="{%url 'contact'%}"
              ><i class="fa fa-phone" style="margin-right: 5px"></i>Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
      "
    >
      <div
        style="
          width: 1350px;
          padding: 15px;
          border: 3px solid #f04e36;
          border-radius: 20px;
          box-shadow: 0px 0px 10px #f04e36;
        "
      >
        <div style="width: 100%">
          <h1
            style="
              font-family: 'poppins';
              color: white;
              font-weight: 500;
              font-size: 4em;
            "
          >
            Discover Nice Articles Here
          </h1>
          <a
            href="https://www.youtube.com/channel/UCGaozpk8YR2HyAbFn7v7iew"
            target="_blank"
          >
            <img
              src="{%static 'images/Youtube.png'%}"
              width="40px"
              style="float: right; margin-top: -35px"
          /></a>
          <a href="https://twitter.com/yuvanprasathb" target="_blank">
            <img
              src="{%static 'images/Twitter.png'%}"
              width="40px"
              style="float: right; margin-top: -35px"
          /></a>
        </div>
        <p
          style="
            font-family: 'poppins';
            color: grey;
            font-weight: 400;
            font-size: 15px;
          "
        >
          All The Articles And Contents Of The Site Have Been
          <span style="color: white"> Updated Today </span>And You Can Find Your
          <span style="color: white"> Article And Contents </span> Quickly And
          Without Any Problems.
        </p>
        <div
          style="
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
          "
        >
          <div
            style="
              font-family: 'popins';
              font-size: 2em;
              border-radius: 20px;
              padding: 5px 15px;
              border: 2px solid white;
              width: 350px;
              display: flex;
            "
          >
            <form
              action="{%url 'search_blog'%}"
              method="post"
              style="display: flex"
            >
              {%csrf_token%}
              <input
                type="text"
                placeholder="Search"
                name="searchbar"
                id="search-bar"
                style="
                  background-color: transparent;
                  border: 0;
                  color: #fff;

                  font-family: 'poppins';
                  margin-left: 10px;
                  padding-left: 10px;
                  outline: none;
                "
              />
              <button
                value="submit"
                style="background-color: transparent; border: 0; outline: 0"
              >
                <i class="fa fa-search" style="color: #fff"></i>
              </button>
            </form>
          </div>
          <div>
            <a href="#card-container" id="cat-home">All</a>
            <a href="{%url 'searchoption' 'Technology' %}" id="cat-home"
              >Technology</a
            >
            <a href="{%url 'searchoption' 'Sports' %}" id="cat-home">Sports</a>
            <a href="{%url 'searchoption' 'Design' %}" id="cat-home">Design</a>
            <a href="{%url 'searchoption' 'Programming' %}" id="cat-home"
              >Programming</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="display: block; margin-top: 30px">
      <div
        class="col-lg-12"
        style="display: flex; justify-content: center; align-items: center"
      >
        <div class="slideshow-container">
          <!-- Slide 1 -->
          <div class="mySlides">
            <img src="{%static 'images\slide1.jpg'%}" id="img-slide" />
            <a href=""><div class="text">Read Now</div></a>
          </div>

          <!-- Slide 2 -->
          <div class="mySlides">
            <img
              src="{%static 'images\slide2.jpg'%}"
              alt="Slide 2"
              id="img-slide"
            />
            <a href=""><div class="text">Read Now</div></a>
          </div>

          <!-- Slide 3 -->
          <div class="mySlides">
            <img
              id="img-slide"
              src="{%static 'images\slide3.jpg'%}"
              alt="Slide 3"
            />
            <a href=""></a>
            <div class="text">Read Now</div>
          </div>

          <!-- Navigation dots -->
          <div style="text-align: center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
      </div>
    </div>

    <script>
      var slideIndex = 0;
      showSlides();

      function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
          slideIndex = 1;
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 4000); // Change image every 2 seconds (2000 milliseconds)
      }
    </script>

    <div class="card-container" id="card-container">
      {% for i in yours %}

      <div class="card">
        <div class="imgBx"><img src="{{ i.Cover_img.url}}" alt="" /></div>
        <div class="content">
          <h4>{{ i.Title }}</h4>
          <p class="catp">Category: {{ i.category }}</p>
          <p class="descp">{{ i.Desc }}</p>

          <a href="{%url 'read' i.Blog_id%}">Read More</a>
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="row" id="down-menu">
      <div class="col-lg-1">
        <h1 id="down-menu-txt">PLUG<span>POST</span></h1>
      </div>
      <div class="col-lg-1">
        <ul class="down-menu-ul">
          <li><a href="{% url 'lhome' %}" class="active">Home</a></li>
          <li><a href="{% url 'blog' %}" class="not_active">Blog</a></li>
          <li><a href="{%url 'aboutus' %}" class="not_active">About</a></li>
          <li><a href="{%url 'login' %}" class="not_active">Logout</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-5">
        <h1 id="logotxt" style="text-align: center; margin: 0">
          TOP <span>PUBLISHERS</span>
        </h1>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
          "
        >
          {%for i in users%}
          <a href="" class="down-menu-a">
            <img
              src="{{i.User_Img.url}}"
              width="30px"
              height="30px"
            />{{i.User_Name}}
          </a>
          {%endfor%}
        </div>
      </div>
      <div class="col-lg-4">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3891.9838249134687!2d77.81361097496374!3d12.714478087577834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae70a25b756a59%3A0xdb248affbdf77512!2sGayathri%20Gardens%20Rd%2C%20Hosur%2C%20Tamil%20Nadu%20635110!5e0!3m2!1sen!2sin!4v1702137253265!5m2!1sen!2sin"
          width="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div
        class="col-lg-1"
        style="display: flex; align-items: center; justify-content: right"
      >
        <ul id="down-menu-logo">
          <li>
            <a href="https://www.facebook.com/yuvan.prasath.771" target="_blank"
              ><img src="{%static 'images/Facebook.png'%}" width="40px"
            /></a>
          </li>
          <li>
            <a href="https://www.instagram.com/_.__u1__._/" target="_blank"
              ><img src="{%static 'images/Instagram.png'%}" width="40px"
            /></a>
          </li>
          <li>
            <a href="https://twitter.com/yuvanprasathb" target="_blank"
              ><img src="{%static 'images/Twitter.png'%}" width="40px"
            /></a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/channel/UCGaozpk8YR2HyAbFn7v7iew"
              target="_blank"
              ><img src="{%static 'images/Youtube.png'%}" width="40px"
            /></a>
          </li>
          <li>
            <a
              href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJfrLTZdvLqxRtTFcClgrVBBTTWkFlgtQLvKGLLVSgXHcmzCqlxsdhRrTqJLxhrQZtTRvCL"
              target="_blank"
              ><img src="{%static 'images/Gmail.png'%}" width="40px"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
