<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  </head>
  <body>
    <div>
      <nav>
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
          <img
            src="{%static 'images/Menu.png'%}"
            width="30px"
            style="filter: invert(100%)"
          />
        </label>
        <label class="logo"
          ><h1 id="logotxt">PLUG<span>POST</span></h1></label
        >
        <ul>
          <li><a href="{%url 'home'%}" class="not_active">Home</a></li>
          <li><a href="#takecourse" class="not_active">Blog</a></li>
          <li><a href="#taketoabout" class="not_active">About us</a></li>
          <li><a href="#con" class="active">Login</a></li>
          <li>
            <a id="signin" href="#logintext"
              ><i class="fa fa-phone" style="margin-right: 5px"></i>Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <a href="{%url 'home'%}" id="back_btn"
      ><i class="fa fa-arrow-left"></i>Back</a
    >

    <div
      class="row"
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
      "
    >
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          border: 3px solid #f04e36;
          border-radius: 30px;
          overflow: hidden;
          box-shadow: 0px 0px 20px #f04e36;
        "
      >
        <div
          class="col-lg"
          style="display: flex; align-items: center; justify-content: center"
        >
          <img src="{%static 'images/loginimg.png'%}" width="90%" />
        </div>
        <div
          class="col-lg"
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f04e36;
            border-top-left-radius: 80px;
            border-bottom-left-radius: 80px;
            padding: 20px;
          "
        >
          <form action="" method="POST">
            {% csrf_token %}
            <h1 id="logintext">Log<span style="color: black">in</span></h1>
            <h1
              style="
                font-family: 'ubuntu';
                color: white;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
              "
            >
              Enter Username
            </h1>
            <span
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
              ><input
                type="text"
                placeholder="Username"
                style="
                  background-color: transparent;
                  border: 2px solid white;
                  outline: none;
                  font-size: 20px;
                  text-align: center;
                  width: 400px;
                  color: white;
                  border-radius: 20px;
                "
                id="loguser"
                name="loguser"
            /></span>
            <h1
              style="
                font-family: 'ubuntu';
                color: white;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
              "
            >
              Enter Password
            </h1>
            <span
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
              ><input
                type="text"
                placeholder="Password"
                style="
                  background-color: transparent;
                  border: 2px solid white;
                  outline: none;
                  font-size: 20px;
                  text-align: center;
                  width: 400px;
                  color: white;
                  border-radius: 20px;
                "
                id="logpas"
                name="logpas"
            /></span>
            <span
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
              ><button id="sub_btn" value="submit">Submit</button></span
            >
            <h2 id="taketosignup">
              I Don't Have an Account ?
              <a href="{%url 'signup'%}" style="color: black">Sign up</a>
            </h2>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
