<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog - Plugpost</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/home1.css' %}" />
  </head>
  <body class="blogbody" style="overflow-x: hidden">
    <div>
      <nav>
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
          <img
            src="{%static 'images/Menu.png'%}"
            width="30px"
            style="filter: invert(100%)"
          />
        </label>
        <label class="logo"
          ><h1 id="logotxt">PLUG<span>POST</span></h1></label
        >
        <ul>
          <li><a href="{% url 'lhome' %}" class="active">Home</a></li>
          <li><a href="{% url 'blog' %}" class="not_active">Blog</a></li>
          <li><a href="{%url 'aboutus' %}" class="not_active">About us</a></li>
          <li><a href="{%url 'login' %}" class="not_active">Logout</a></li>
          <li>
            <a id="signin" href="{%url 'contact'%}"
              ><i class="fa fa-phone" style="margin-right: 5px"></i>Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <a href="{%url 'lhome'%}" id="back_btn1"
      ><i class="fa fa-arrow-left"></i>Back</a
    >
    <h1 id="logintext">USER <span>PROFILE</span></h1>
    {%for i in user%}
    <div class="row">
      <div class="col-lg-3">
        <img src="{{i.User_Img.url}}" width="100%" />
      </div>
      <div class="col-lg-9">
        <h1 class="up-fullname">{{i.User_Fullname}}</h1>
        <h2 class="up-username">User Name :{{i.User_Name}}</h2>
        <h2 class="up-username">Age :{{i.User_Age}}</h2>
        <h2 class="up-username">Gender :{{i.User_Gender}}</h2>
        <h2 class="up-username">DOB :{{i.User_Dob}}</h2>
      </div>
    </div>
    {%endfor%}
    <h1
      id="logintext"
      style="text-align: left; margin-left: 15px; margin-top: 30px"
    >
      Blogs From <span>This Publisher</span>
    </h1>
    <div class="card-container" id="card-container">
      {% for i in blogs %}

      <div class="card">
        <div class="imgBx"><img src="{{ i.Cover_img.url}}" alt="" /></div>
        <div class="content">
          <h4>{{ i.Title }}</h4>
          <p class="catp">Category: {{ i.category }}</p>
          <p class="descp">{{ i.Desc }}</p>

          <a href="{%url 'read' i.Blog_id%}">Read More</a>
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="row" id="down-menu">
      <div class="col-lg-1">
        <h1 id="down-menu-txt">PLUG<span>POST</span></h1>
      </div>
      <div class="col-lg-1">
        <ul class="down-menu-ul">
          <li><a href="{% url 'lhome' %}" class="active">Home</a></li>
          <li><a href="{% url 'blog' %}" class="not_active">Blog</a></li>
          <li><a href="{%url 'aboutus' %}" class="not_active">About</a></li>
          <li><a href="{%url 'login' %}" class="not_active">Logout</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-5">
        <h1 id="logotxt" style="text-align: center; margin: 0">
          TOP <span>PUBLISHERS</span>
        </h1>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
          "
        >
          {%for i in users%}
          <a href="" class="down-menu-a">
            <img
              src="{{i.User_Img.url}}"
              width="30px"
              height="30px"
            />{{i.User_Name}}
          </a>
          {%endfor%}
        </div>
      </div>
      <div class="col-lg-4">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3891.9838249134687!2d77.81361097496374!3d12.714478087577834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae70a25b756a59%3A0xdb248affbdf77512!2sGayathri%20Gardens%20Rd%2C%20Hosur%2C%20Tamil%20Nadu%20635110!5e0!3m2!1sen!2sin!4v1702137253265!5m2!1sen!2sin"
          width="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div
        class="col-lg-1"
        style="display: flex; align-items: center; justify-content: right"
      >
        <ul id="down-menu-logo">
          <li>
            <a href="https://www.facebook.com/yuvan.prasath.771" target="_blank"
              ><img src="{%static 'images/Facebook.png'%}" width="40px"
            /></a>
          </li>
          <li>
            <a href="https://www.instagram.com/_.__u1__._/" target="_blank"
              ><img src="{%static 'images/Instagram.png'%}" width="40px"
            /></a>
          </li>
          <li>
            <a href="https://twitter.com/yuvanprasathb" target="_blank"
              ><img src="{%static 'images/Twitter.png'%}" width="40px"
            /></a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/channel/UCGaozpk8YR2HyAbFn7v7iew"
              target="_blank"
              ><img src="{%static 'images/Youtube.png'%}" width="40px"
            /></a>
          </li>
          <li>
            <a
              href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJfrLTZdvLqxRtTFcClgrVBBTTWkFlgtQLvKGLLVSgXHcmzCqlxsdhRrTqJLxhrQZtTRvCL"
              target="_blank"
              ><img src="{%static 'images/Gmail.png'%}" width="40px"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
